{% extends "crudpy/base.html" %}
{% block title %}Detalle de Cliente{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/detalle_cliente.css' %}">
<div class="card">
   <div class="card-body">
      <div class="row">
         <div class="col-md-4 ">
            <div class="card">
               <div class="card-body">
                  {% if cliente %}
                  <!-- Título del detalle del cliente -->
                  <h2 class="card-title text-center">{{ cliente.nombre }}</h2>
                  <!-- Mostrar la foto del cliente si está disponible -->
                  <div class="text-center mb-3">
                     {% if cliente.foto %}
                     <!-- Agregar etiqueta label para mejorar accesibilidad y cambiar la imagen al hacer clic -->
                     <label for="id_foto">
                     <img id="img_preview" src="{{ cliente.foto.url }}" alt="{{ cliente.nombre }}" width="100" height="100" />
                     </label>
                     {% else %}
                     <!-- Mostrar un mensaje si no hay foto disponible -->
                     <label for="id_foto">
                     <img src="{% static 'img/default.png' %}" alt="default" width="100" height="100" />
                     </label>
                     {% endif %}
                  </div>
                  <div class="card">
                     <div class="card-body">
                        <div class="text-left">
                           <!-- Información del cliente -->
                           <p class="text-muted mb-1"><strong>Dirección:</strong> {{ cliente.direccion }}</p>
                           <p class="text-muted mb-1"><strong>Ciudad:</strong> {{ cliente.ciudad }}</p>
                           <p class="text-muted mb-1"><strong>País:</strong> {{ cliente.pais }}</p>
                           <p class="text-muted mb-1"><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
                           <p class="text-muted mb-1"><strong>Email:</strong> {{ cliente.email }}</p>
                           <div class="text-center">
                              <button type="button" class="btn btn-danger mt-3" onclick="confirmDelete()">Eliminar Cliente</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                           <div class="modal-body text-center">
                              <form method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                 <p><strong>¿Estás seguro  de eliminar a <strong class="text-danger"></strong> y volver al listado?</strong></p>
                                 <hr>
                                 <button type="submit" class="btn btn-danger btn-block" name="eliminar" data-bs-dismiss="modal" value="Eliminar">Sí</button>
                                 <button type="button" class="btn btn-warning btn-block" data-bs-dismiss="modal">No</button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% else %}
                  <!-- Mostrar un mensaje si el cliente no se encontró -->
                  <p class="card-text">No se encontró el cliente solicitado.</p>
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="card">
               <div class="card-body">
                  {% if edit_mode %}
                  <!-- Formulario de edición siempre presente cuando edit_mode es verdadero -->
                  <h2 class="card-title">Edición de datos de: {{ cliente.nombre }}</h2>
                  <form id="editForm"  class="form-horizontal" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}" class="control-label">Nombre del cliente:</label>
                        <div class="col-sm-10">
                           {{ form.nombre }}
                           {{ form.nombre.errors }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="{{ form.direccion.id_for_label }}" class="control-label">Dirección del cliente:</label>
                        <div class="col-sm-10">
                           {{ form.direccion }}
                           {{ form.direccion.errors }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="{{ form.ciudad.id_for_label }}" class="control-label">Ciudad del cliente:</label>
                        <div class="col-sm-10">
                           {{ form.ciudad }}
                           {{ form.ciudad.errors }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="{{ form.pais.id_for_label }}" class="control-label">País del cliente:</label>
                        <div class="col-sm-10">
                           {{ form.pais }}
                           {{ form.pais.errors }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="{{ form.telefono.id_for_label }}" class="control-label">Número de teléfono del cliente:</label>
                        <div class="col-sm-10">
                           {{ form.telefono }}
                           
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="control-label">Dirección de correo electrónico del cliente:</label>
                        <div class="col-sm-10">
                           {{ form.email }}
                        </div>
                     </div>
                     <div class="form-group mt-2">
                        <div class="col-sm-10">
                           {{ form.foto }}
                           {{ form.foto.errors }}
                        </div>
                     </div>

                     <button type="button" id="errorModalTrigger" class="btn btn-danger d-none" data-bs-toggle="modal" data-bs-target="#errorModal">
                        Mostrar Errores
                    </button>

                     <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="errorModalLabel">Advertencia</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Mostrar los mensajes de error aquí -->
                                    {% if form.email.errors %}
                                    <ul class="list-unstyled">
                                        {% if form.email.errors %}
                                            <li>{{ form.email.errors|join:", " }}</li>
                                        {% endif %}
                                        {% if form.telefono.errors %}
                                            <li>{{ form.telefono.errors|join:", " }}</li>
                                        {% endif %}
                                    </ul>   

                                    {% endif %}
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                     <div class="container text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmSaveModal">Guardar Cambios</button>
                        <a href="{% url 'listar_clientes' %}" class="btn btn-secondary">Volver</a>
                     </div>
                     <!-- Modal de confirmación de guardar -->
                     <div class="modal fade" id="confirmSaveModal" tabindex="-1" aria-labelledby="confirmSaveModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                           <div class="modal-content">
                              <div class="modal-body text-center">
                                 <!-- Agregamos la clase "text-center" para centrar el contenido horizontalmente -->
                                 <p><strong>¿Estás seguro de guardar los cambios y volver al listado?</strong></p>
                                 <hr>
                                 <button type="submit" class="btn btn-success btn-block" onclick="saveChanges()">Sí</button>
                                 <button type="button" class="btn btn-warning btn-block" data-bs-dismiss="modal">No</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Resto del código JavaScript -->
<script src="{% static 'js/detalle_cliente.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if form.email.errors or form.telefono.errors %}
            // Si hay errores en los campos de correo electrónico o teléfono, muestra el modal automáticamente
            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.show();
        {% endif %}
    });
</script>

{% endblock %}